table,
th,
td {
  border: 1px solid #000;
   background-color:aqua ;
}
.project {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.color {
  color:black;
  display: flex;
  flex-direction: row;
}